main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lot
main.out
main.synctex.gz
main.syx
main.toc
main.abx
main.ccc
images_exp2/OLD1/
images_exp2/OLD2/
stuff/example.aux
stuff/example.fdb_latexmk
stuff/example.fls
stuff/example.log
_OLD
concatenated.tex
images_exp2/recall/OLD/
